**__pycache__
/data/models/train/
/data/models/test/
/data/results/
/data/models/est_models/
/data/est_models/
/data/models/original/
/data/models/normalized/
/data/models/camera_positions.ply
/screenshots/
.DS_Store